// Custom Colors
$primary: rgb(95, 116, 100);
$secondary: rgb(228, 174, 197);
$info: rgb(36, 61, 37);
$success: black;
$light: rgb(250, 217, 230);
$link-color: rgb(250, 217, 230);

//Import Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';